// Colors Array
$colors: (
  red: #ed3038,
  black: #000,
  white: #fff,
  white2: #fcfafb,
  bluefade: #0092ff,
  blue3: #097ec1,
  blue4: #063d62,
  dark_blue: #041836d9,
  // Transparent
  tranBlue: #2a6a8fb0,
  tranBlue1: #2a6a8f,
  tranGreen: #08763494,
  tranGreen1: #087634,
  // Portal
);
