// Colors Array
$colors: (
  red: #ed3038,
  white: #fff,
  white2: #fcfafb,
  bluefade: #0092ff,
  // Transparent
  tranBlue: #2a6a8fb0,
  tranBlue1: #2a6a8f,
  tranGreen: #08763494,
  tranGreen1: #087634,
);
