// Functions
@function getColor($color_name, $map: $colors) {
  @return map-get($map, $color_name);
}

// Error
@mixin errorMessage() {
  display: block !important;
  color: getColor(red) !important;
  font-size: 12px !important;
  font-style: italic !important;
}
