// Import Colors
@import "incl/colors";
@import "incl/func";

/*
font-family: 'Festive', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

// Body
body {
  font-family: "Open Sans", sans-serif !important;
  background-color: getColor(white2);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

// NavBar
header.main-nav {
  background-color: getColor(white2);
  nav.navbar {
    background-color: getMap(white2);
    //   Logo
    a.navbar-brand {
      img {
        width: auto;
        height: 30px;
      }
    }

    // Button
    button.navbar-toggler {
    }

    // Menu
    div#navbarNavDropdown {
      .nav-item {
        padding-left: 1.5px;
        padding-right: 1.5px;
        font-weight: 400;

        a {
          font-weight: 500;
        }

        a.active {
          color: getColor(bluefade);
        }

        a:hover {
          color: getColor(bluefade);
        }
      }
      ul.navbar-nav {
      }
      span.nav-item {
        a.btn-solid-sm {
          border-radius: 20px;
          background-color: getColor(bluefade);
          border-color: getColor(bluefade);
          font-weight: bold;
        }

        a:hover {
          background-color: getColor(red);
          border-color: getColor(red);
          color: getColor(white);
        }
      }
    }
  }
}

/*
* Image Banner
*/
section.image-banner {
  background: url(../img/bg/header-background.jpeg) center center no-repeat;
  background-size: cover;
  z-index: -20;

  margin-top: 10%;
  div.cover-area {
    div.text-box {
      padding-top: 40%;
      padding-bottom: 10%;
    }

    // Image Box
    div.img-box {
      position: absolute;
    }

    // Search Box
    div.search-box {
      background-color: getColor(tranBlue);
      border-radius: 10px;
      position: relative;
      margin-top: 20%;
      width: 70%;
      float: right;
      form {
        padding: 5% 2% 1% 2%;
        .row {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/*
* Services
*/
section.services {
  $fixed-mb: 4%;
  margin: 8% auto;
  h2 {
    // font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.3em;
    position: relative;
    margin-bottom: $fixed-mb;
  }

  h2::after {
    display: block;
    content: "";
    width: 5%;
    height: 3px;
    background: black;
    position: absolute;
    top: 110%;
    bottom: 0;
    left: 0;
  }

  div.box-service {
    div.box-icon {
      margin-bottom: $fixed-mb;
      i {
        font-size: 2em;
        padding: 3%;
        border-radius: 5px;
      }
    }

    // Icon Colors
    div.first-icon {
      i {
        background-color: getColor(tranBlue1);
        color: getColor(white2);
      }
    }
    div.second-icon {
      i {
        background-color: getColor(tranGreen1);
        color: getColor(white);
      }
    }
    div.third-icon {
      i {
        background-color: getColor(red);
        color: getColor(white);
      }
    }

    // Header
    h5 {
      font-weight: bold;
      text-shadow: 10px;
      margin-bottom: $fixed-mb;
    }

    p {
      font-family: "Roboto", sans-serif;
    }
  }
}
